:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #e5e5e5;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #ffffff;
  --title-text-color: #2196f3;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.body {
  font-family: var(--main-font);
  font-weight: 500;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*=============HEADER=============*/

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;

}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
}

.menu {
  display: flex;
  margin-left: 93px;
}
.contacts-header { 
  display: flex;
  margin-left: auto;
  
}
.contacts-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.logo {

  margin-right: 93px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.web-logo {
  color: var(--title-text-color);
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-item:not(:last-child) {
  margin-right: 50px;
}


.menu-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}
.menu-link.menu-link-black {
  color: var(--primary-text-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--title-text-color);
}
.menu-link.current {
  color: var(--title-text-color);
}

.menu-link:active {
  color: var(--title-text-color);
}

.mail-link:active {
  color: var(--title-text-color);
}

.mail-link:hover,
.mail-link:focus {
  color: var(--title-text-color);
}
.tel-link:hover {
  color: var(--title-text-color);
}

.mail-link {
  margin-left: auto;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.tel-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}


/*=============END HEADER=============*/

/*=============HERO=============*/

.hero {
  text-align: center;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--third-text-color);

  background-color: var(--secondary-background-color);
}
.title {
  text-align: center;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;  
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 200px;
  width: 696px;
  margin: 0 auto;
  padding-bottom: 30px;
  color: var(--third-text-color);

  background-color: var(--secondary-background-color);
}

.menu-item:hover,
.menu-item:focus {
  text-decoration: none;
  list-style: none;
}
.menu.link.current {
  color: var(--title-text-color);
}

.modal-btn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--third-text-color);
  background-color: var(--title-text-color);
  margin: 0 auto;
  margin-bottom: 200px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-top: 10px;
}
/*=============END HERO=============*/
/*=============FEATURES=============*/

.features-item {
  display: flex;
  align-items: center;
}
.advantages:not(:first-child) {
  margin-left: 30px;
}
.advantages-item {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-text-color);
}
.advantages-item-text {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
/*=============END FEATURES=============*/
/*=============EXAMPLES=============*/
.examples {
  align-items: center;
  
}

.examples-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.examples-item:not(:first-child) {
  margin-left: 30px;
}

.examples-item-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

  color: var(--primary-text-color);
}


/*============END EXAMPLES=============*/
/*============TEAM=============*/
.team {
  padding: 0 215px;
  background: var(--third-background-color);
}
}
.container.img {
  padding-top: 186px;
  padding-bottom: 94px;
}
.team-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
  .img-title {
    margin-top: 30px;
    margin-bottom: 10px;
  }
.team-picture {
  background: var(--third-text-color);
  padding-bottom: 30px;
}

}
.team-item:not(:first-child) {
  margin-left: 30px;
}
.team-item-title {
  padding-top: 94px;
  padding-bottom: 50px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
 

  color: var(--primary-text-color);
}
.examples-picture {
  display: flex;
  justify-content: center;
}

.container.img {
 
  background: var(--third-background-color);
}

.img-title {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.img-subtitle {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/*============END TEAM=============*/
/*============FOOTER=============*/



.footer {
  
  padding-left: 215px;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;

  background-color: var(--secondary-background-color);
}


.desk-address {
  margin-top: 20px;
  margin-bottom: 9px;
  flex-direction: column;
}

.desk-mail {
margin-bottom: 9px;
}
.desk-tel {
margin-bottom: 9px;
}

.logo-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--third-text-color);
}
.web-logo-footer {
  color: var(--title-text-color);
}
.desk-address {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--third-text-color);
  font-style: normal;
}
.contacts-mail {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.contacts-tel {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

/*============END FOOTER=============*/

/*============CONTENT OF PAGE PORTFOLIO=============*/

.menu-link-blue-port {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.hiden {
  display: none;
}

.modal-btn-port-blue {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--third-text-color);
  background-color: var(--title-text-color);
  cursor: pointer;
}
.modal-btn-port {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.modal-btn-port-blue:hover,
.modal-btn-port-blue:focus {
  color: var(--title-text-color);
}
.modal-btn-port:hover,
.modal-btn-port:focus {
  color: var(--third-text-color);
  background-color: var(--title-text-color);
}

/*============END CONTENT OF PAGE PORTFOLIO=============*/

/*============GALLERY OF WORKS=============*/

.img-headline {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}
.img-headline-subtitle {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/*===========END GALLERY OF WORKS=============*/
